.cart--main{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart--left{
    /* width: 70%; */
}

.cart--right{
    /* width: 30%; */
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 30px;
}



@media screen and (max-width: 700px) {
    .cart--main{
        width: 100%;
        flex-direction: column;
    }
    .empty--cart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart--left{
        width: 100%;
    }
}
