.element--container--small{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    cursor: pointer;
    text-decoration: none;
}

.ec--top--small{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    text-decoration: none;
}



.ec--top--small> h3{
    margin: 0px;
    font-size: 16px;
    text-decoration: none;
}

.ec--top--small> p{
    /* margin: 0px; */
    font-size: 12px;
    text-decoration: none;
}

.ec--mid--small > h1{
    margin: 0;
    text-decoration: none;
}

.ec--bottom--small > p {
    font-size: 12px;
    text-decoration: none;
}