@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');


.hero--img{
    height: 500px;
    width: 100vw;
    background-image: url(../assets/chemSet.jpg);
    background-position: top;
    background-size: cover;
}

.hero--content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100vw;
    background-color: rgba(96, 96, 96, 0.226);
}

.hero--content> h1{
    font-size: 100px;
    margin: 0px;
    margin-left: 50px;
    margin-bottom: 150px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.hero--content> a >button{
    cursor: pointer;
    margin-right: 200px;
}

