.mid--home--main{
    background-color: #f3f3f3;
    padding-top: 10px;
}

.mid--home--main > h2{
    margin: 0px;
    font-weight: 300;
    margin-left: 30px;
}

.mid--home{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
     */
     justify-content: space-evenly;
    width: 100%; 
    align-items: center;
    margin-top: 20px;
}

.mid--home > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
    /* text-align: justify; */
}

.circle--home{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #dfdeef;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circle--home > svg{
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 1000px){
    .mid--home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .mid--home > div{
        width: 150px;
    }
    .circle--home{
        width: 90px;
        height: 90px;
    }
}