.mid--home{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
     */
     justify-content: space-evenly;
    width: 100%; 
    align-items: center;
}


.circle--home{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: #dfdeef;
}