.lower--hero--main{
    width: 100vw;
    display: flex;
}

.lh--left{
    width: 50%;
    /* background-color: #727190; */
    background-color: #afaec1;
    color: white;
    font-size: 18px;
}

.lh--left> ul>li>h3{
    margin: 4px;
}


.lh--right{
    width: 50%;
    /* background-color: #727190; */
    background-color: #afaec1;
}

.lh--right > img{
    width: 100%;
    border-radius: 0px 0px 0px 50%;
}

@media screen and (max-width: 1000px){
    .lower--hero--main{
        flex-direction: column;
        width: 100vw;
    }

    .lh--left{
        width: 100%;
    }
    .lh--right{
        width: 100%;
    }
}