.lower--hero--main{
    width: 100vw;
    display: flex;
}

.lh--left{
    width: 50%;
    /* background-color: #727190; */
    background-color: #afaec1;
}



.lh--right{
    width: 50%;
    /* background-color: #727190; */
    background-color: #afaec1;
}

.lh--right > img{
    width: 100%;
    border-radius: 0px 0px 0px 50%;
}