/* text #040406 />
background #efeff5
primary #c1c0d8
secondary #e0e0eb
accent #b1b1ce */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
.nav--mobile{
    z-index: 300;
}

.nav--bar{
    height: 80px;
    width: 100vw;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
}

.sticky{
    position: fixed;
}


.left--nav{
    display: flex;
    align-items: center;
}

.left--nav > svg{
    height: 35px;
    width: 35px;
    margin-left: 10px;
}

.left--nav> a> h1{
    /* margin: 0px 30px; */
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}

.left--nav> a{
    text-decoration: none;
}


.right--nav{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: 30px;
    align-items: center;
}

.right--nav > a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.right--nav > p{
    cursor: pointer;
}

.right--nav > a> svg{
    height: 20px;
    width: 20px;
    color:#494949;
}

.mobile--search{
    display: none;
}

@media screen and (max-width: 825px){
    .left--nav> a> h1{
        font-size: 20px;
    }
    .left--nav > svg{
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }
    .left--nav > a {
        font-size: 12px;
    }

    .right--nav {
        margin-left: 10px;
    }

    .right--nav > a{
        font-size: 12px;
    }
}

@media screen and (max-width: 750px){
    .nav--bar{
        height: 55px;
    }
    .search--regular{
        display: none;
    }
    .mobile--search{
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -1px;
        z-index: 200;
        height: 40px;
    }
}
