.product--card--container{
    border-bottom: 1px solid gray;
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.product--card--container >a{
    text-decoration: none;
    color: black;
    display: flex;
}
.product--card--mid{
    width: 350px;
    margin-left: 30px;
}

.product--card--end > button{
    width: 120px;
    /* margin: 10px; */
    outline: none;
    padding: 8px 10px;
    font-family: sans-serif;
    border: none;
    background-color: #c1c0d8;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 705px){
    .product--card--container{
        width: 90vw;
    }
    .product--card--mid{
        width: 45vw;
        margin-left: 15px;
    }
}

@media screen and (max-width: 650px){
    .product--card--container{
        padding: 20px 10px 20px 10px;
    }
    .product--card--mid > h3{
        margin: 5px 0px 10px 0px;
        font-size: 16px;
    }
    .product--card--mid > p{
        margin: 5px 0px 5px 0px;
        font-size: 13px;
    }
    .product--card--end > h4{
        font-size: 13px;
    }
    .product--card--end > button{
        width: 100px;
    }
}

@media screen and (max-width: 380px){
    .product--card--end > button{
        width: 90px;
    }
}