.product--container{
    display: flex;
    flex-direction: row;
}

.product--right{
    display: flex;
    flex-direction: column;
}

.product--right >div> a{
    text-decoration: none;
    color: black;
}

.product--filter{
    width: 25%;
    margin-left: 20px;
    /* position: sticky; */
}

.product--filter > div> h4{
    margin: 5px;
}

.filter--button{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.filter--button > button{
    margin: 2px;
    text-align: start;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.filter--button > button:hover{
    text-decoration: underline;
}