.quote--modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.quote--modal> input{
    height: 30px;
}

.quote--modal > button{
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}