.register--main{
    width: 100vw;
    display: flex;
    height: calc(100vh - 360px);
    margin-bottom: -100px;
}

.register--left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 40px;
    margin-bottom: 200px;
}

.register--left > form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.register--left > button{
    width: 300px;
}

.register--left > a> button{
    width: 300px;
}



.register--right{
    width: 50%;
    color: white;
    padding-left: 45px;
    /* background-color: rgb(125, 123, 135); */
    background-image: url(../assets/lab2.jpeg);
    background-size: cover;
}

.register--right > div{
    width: sum(100% + 45px);
    height: 100%;
    background-color: rgba(100, 90, 123, 0.621);  
    margin-left: -45px;
    padding: 45px;
}