.search--nav{
    width: 800px;
    /* width: 50%; */
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(130, 130, 130);
    display: flex;
    align-items: center;
}
.search--nav > form{
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.search--nav > form > input{    
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    height: 40px;
    /* width: 370px; */
    width: 80%;
    font-size: 18px;
}

.search--nav > form > button{
    z-index: 10;
    border: 1px solid #cccccc;
    background-color: #cfcee1;
    height: 41px;
    width: 80px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search--nav > form > button > svg{
    height: 20px;
    width: 20px;  
    color: rgb(157, 154, 154) 
}

@media screen and (max-width: 1300px){
    .search--nav{
        width: 600px;
    }
}

@media screen and (max-width: 1050px){
    .search--nav{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .search--nav{
        width: 300px;
    }
}

@media screen and (max-width: 750px){
    .search--nav{
        width: 95vw;
        height: 30px;
    }
    .search--nav > form > button{
        height: 31px;
    }
}


