.similar--products{
    width: 90%;
    border-top: 1px solid black;
}


.sp--outer--container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sp--outer--container >svg{
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: lightgray;
}

.sp--outer--container> svg:hover{
    color: #c1c0d8;
}

.sp--container{
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem; */
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}


.sp--container >a{
    display: inline-block;
    color: black;
    text-decoration: none;
    justify-self: center;
    padding: 50px;
}

.sp--container > a > p{
    display: none;
}

@media screen and (max-width: 700px){
    .sp--container > a{
        padding: 15px;
    }
}

@media screen and (max-width: 415px){
   
    .sp--container > a > p{
        display: inline;
        font-size: 12px;
        
    }
}